* {
	box-sizing: border-box;
}

h1 {
	margin: 0;
	color: white;
	font-weight: normal;
	font-family: sans-serif;
	position: fixed;
	z-index: 9999999;
	top: 20px;
	left: 20px;
}

.content-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 90px 20px;
	background-color: rgb(125, 55, 255);
}

iframe {
	border-radius: 60px;
	border: 10px inset skyblue;
	overflow: hidden;
	width: 100%;
	height: 100%;
	border: 6px ridge deeppink;
}

.content {
	border-radius: 60px;
	border: 10px inset skyblue;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 20px;
	width: 100%;
	height: 100%;
	border: 6px ridge deeppink;
	background-color: white;
}

.nav-button {
	display: block;
	position: fixed;
	bottom: 20px;
	text-decoration: none;
	background-color: hotpink;
	color: white;
	z-index: 999;
	border-radius: 999px;
	padding: 0.25em 1em;
	font-family: sans-serif;
	font-size: 2rem;
	border: 6px inset deeppink;
	transition: color 0.2s, background-color 0.2s;
}

.nav-button:hover,
.nav-button:focus {
	background-color: deeppink;
	border: 6px ridge hotpink;
	color: lime;
	outline: none;
	cursor: pointer;
}

.next-button {
	right: 20px;
}

.prev-button {
	left: 20px;
}

*::-webkit-scrollbar {
	display: none;
}

ul, li, p {
	font-size: 18pt;
	line-height: 1.4em;
}

@media (max-width: 767px) {
	ul, li, p {
		font-size: 14pt;
	}
	ul {
		padding-left: 1em;
	}
	.content-wrapper {
		padding: 64px 12px;
	}
	.content {
		padding: 12px;
	}
	.nav-button {
		font-size: 1.25rem;
		bottom: 12px;
	}
	h1 {
		font-size: 1.5rem;
		top: 12px;
		left: 12px;
	}
}

li {
	text-wrap: pretty;
	margin-bottom: 1em;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}